*{
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
}

body {
    /* background: #EFEFE7; */
    background: #a7cfdf;
    background: -webkit-linear-gradient(bottom left, #a7cfdf 0%, #23538a 100%);
    background: -moz-linear-gradient(bottom left, #a7cfdf 0%, #23538a 100%);
    background: -o-linear-gradient(bottom left, #a7cfdf 0%, #23538a 100%);
    background: linear-gradient(to top right, #a7cfdf 0%, #23538a 100%);
    margin: 0 auto !important;
}

.delete {
  float:right;
  background:none;
  border:none;
  font-weight:900;
  color:gray;
  font-size:18px;
}

.delete:hover {
  cursor:pointer;
  color:red;
}

.intro {
  position:relative;
  top:40px;
  height:400px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  color:white;
}

.intro-container{
  color:white;
  text-align:center;
}

.intro input {
  margin-top:60px;
  height: 2rem;
  background: #f9f9f9;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 14rem;
  padding: 0 .5rem;
}

.intro button {
  color: #fff;
  text-transform: uppercase;
  height: 2rem;
  border: 0px solid #303751;
  font-weight: 500;
  cursor: pointer;
  padding: 0 1rem;
  background: linear-gradient(to right, hsl(194, 100%, 50%) 0%,hsl(208, 100%, 50%) 100%);
  transition: all .22s;
}

.intro button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  filter: brightness(120%);
}

.intro h1 {
  margin-top:-60px;
}

.intro h3 {
  margin-top:20px;
}

.main.card.expanded {
  height:auto;
}

.container {
  position:absolute;
  width:100%;
}

.main{
  background: #f1f1f1;
  padding: 1.5rem;
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main .card{
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 25%;
  margin: .5rem;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
  transition: all .22s;
}

.main .card:hover {
  cursor:pointer;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  filter: brightness(120%);
}

.add button {
  background: linear-gradient(to right, hsl(194, 100%, 50%) 0%,hsl(208, 100%, 50%) 100%);
  color: #fff;
  font-weight: 500;
  padding: .5rem 2rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  margin-top: 1rem;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  cursor: pointer;
  transition: all .22s;
}

.add button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  filter: brightness(120%);
}

.main p{
  margin-bottom: 0;
}

.main p.revenue{
  font-size: 1.5rem;
}

.main span{
  color: #888;
  font-size: .875rem;
}

.main .line{
  width: 100%;
  max-width: 5rem;
  height: 3px;
  margin: 1rem 0 2rem;
  background: #11B8AB;
}

.main .sales{
  font-size: -875rem;
}


.main-container p{
    margin-bottom: 0;
}


.dark-header {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  text-align:center;
  color:white;
  line-height: 60px;
  font-weight: 600;
  font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
  font-size:22px;
  z-index:5;
  height:60px;
  background: rgba(0,0,0,.6);
}

.main-container .body{
    padding: 1rem 0rem;
    background: #a7cfdf;
    background: -webkit-linear-gradient(bottom left, #a7cfdf 0%, #23538a 100%);
    background: -moz-linear-gradient(bottom left, #a7cfdf 0%, #23538a 100%);
    background: -o-linear-gradient(bottom left, #a7cfdf 0%, #23538a 100%);
    background: linear-gradient(to top right, #a7cfdf 0%, #23538a 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top:0;
}

input, select{
  border: none;
  background: transparent;
  padding: .25rem;
}

input::placeholder{
  color: #aaa;
}

@media only screen and (max-width: 710px) {
  .main{
    flex-direction: column;
  }

  .main .card{ 
    max-width: 100%;
  }
}

@media only screen and (max-device-width: 710px) {
  .main{
    flex-direction: column;
  }

  .main .card{ 
    max-width: 100%;
  }
}


  
