<div class="main-container example">
  <div class="body">
    <div class="dark-header">
      Record Manager 5000
    </div>
    <div class='intro'>
      <div class='intro-container'>
          <h1>Welcome to Record Manager 5000!</h1>
          <input type='text' id='companyName' placeholder="Enter Company Name" /><button (click)="addNew()">Add</button>
      </div>
    </div>
    <div class='container'>
        <div class="main">
            <div class="card c-2" *ngFor="let company of companies" (click)="expand($event, company)">
                <button class="delete" title="delete company"
                (click)="delete(company)">x</button>
              <p class="revenue">{{company.CompanyName}}</p>
              <p class="label">{{company.CompanyID}}</p>          
              <div class="line"></div>         
              <p class="sales">{{company.StreetAddress}}</p>
            </div>
        </div>
    </div>
  </div>
</div>

